.post-item {
    
    background-color: #ebedef;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    width: 265px;
    height: 650px;
    
}

.post-item h1{
    color: #2a5d68;
    text-align: center;
}

.photo-post {
    width: 75%;
    height: 25%;
    padding-top: 25px;
    margin-left: 15px;
}
.post-item p {
    padding-top: 20px;
    width: 270px; 
}

.quote {
    background-color: #d6d7dc;
    font-style: italic;
    font-family: cursive;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 30px;
    border-left: 3px solid #7fb9c2;
    position: relative;

}
cite {
    font-size: 0.8em;
}

figcaption {
    text-align: center;
    font-size: 0.9em;
    padding-right: 35px;
    font-style: oblique;
}