/*mobile first*/

/*grid */
.grid-container {
    display: grid;
    width: 550px;
    height: 100%;
    margin-right: 10%;
    margin-left: 14%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
        "hd hd"
        "main sd"
        "main sd"
        "main sd"
         "ft ft";
}

.nested-grid {
    display: grid;
    /*border: 2px solid green;*/
    width: 300px;
    height: 102%;
    margin-top: -25px;
    grid-area: main;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,auto);
    align-content: start;
    justify-content: start;
    gap: 8px;
   
}

/*photos*/
.photo-box {
    width: 80%;
    height: 55%;
    margin-left: 5px;
}

.grid-item {
    background-color: #ebedef;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 250px;
    height: 270px;
}


.grid-item h2 {
    color: #2a5d68;
    text-align: center;
    font-size: medium;
}

.grid-item span {
    font-size: small;
    font-family: italic;
    padding-bottom: 5px;
}
.grid-item p {
   padding-bottom: 20px;
   padding-top: 5px;
}

.read-button {
    padding: 6px 8px;
    margin-left: 100px;
    margin-top: -10px;
    color: #000;
    border-radius: 5px;
    border: 1px solid #000;
    text-decoration: none;
    cursor: pointer;
}

