/*grid */
.grid-container {
    display: grid;
    width: 68vw;
    height: 100%;
    padding: 10px;
    margin-top: 60px;
    margin-right: 10%;
    margin-left: 14%;
    margin-bottom: 0px;
    gap: 100px;
}

/*rows-cols*/
.col-row {
    grid-template-columns: 250px 250px 100px;
    grid-template-rows: 200px 200px 200px;
}

.nested-grid {
    display: grid;
    width: 50vw;
    height: 109vh;
    grid-area: 1/1/3/3;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
    gap: 200px;
}

/*photos*/
.photo-box {
    width: 90%;
    height: 55%;
    margin: 1px;
    margin-left: 5px;
}

.grid-item {
    background-color: #ebedef;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 300px;
    height: 300px;
}


.grid-item h2 {
    color: #2a5d68;
    text-align: center;
    font-size: medium;
}

.grid-item span {
    font-size: small;
    font-family: italic;
    padding-bottom: 5px;
}
.grid-item p {
   padding-bottom: 20px;
   padding-top: 5px;
}

.read-button {
    padding: 5px 8px;
    margin-left: 110px;
    color: #000;
    border-radius: 5px;
    border: 1px solid #000;
    text-decoration: none;
}
